.badge {
  min-width: 120px;
  height: 28px;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &-default {
    background-color: var(--accent-color);
    color: white;
  }

  &-on-default {
    background-color: white;
    color: var(--accent-color);
  }

  &-danger {
    background-color: var(--danger-color);
    color: white;
  }

  &-on-danger {
    background-color: white;
    color: var(--danger-color);
  }

  &-div {
    display: block;
  }
}
