:root {
  --accent-color: hsla(201, 100%, 36%, 1);
  --accent-hover-color: hsla(201, 100%, 30%, 1);
  --danger-color: hsla(8, 93%, 63%, 1);
  --danger-hover-color: hsla(8, 93%, 58%, 1);
  --white-hover-color: hsla(0, 0%, 90%, 1);
  --text-color: hsla(0, 0%, 20%, 1);
  --text-disabled-color: hsla(0, 0%, 50%, 1);
  --menu-border-color: hsla(0, 0%, 80%, 1);
  --menu-item-hover-color: hsla(0, 0%, 63%, 0.25);
  --menu-text-color: hsla(0, 0%, 13%, 1);
}
